{% extends 'base.html' %}


{% block title %}
  {{ news_class.news_class_name }}_{{ company_name }}
{% endblock %}


{% block main %}
	<div class="row">
<!--left-->  
{% include 'left.html' %}
<!--left end-->    
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="row">
      	<div class="col-md-12 c0l-sm-12 col-xs-12" style="padding:0 0 0 0">
        	<h3 style="margin:0 0 10px 15px;"><span class="label label-primary" >{{ news_class.news_class_name }}</span><span class="pull-right small">当前位置：首页-{{ news_class.news_class_name }}</span></h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr style="margin:5px">
<!--main-->      
      <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
          	<table class="table table-hover">
            {% for n in news %}
            	<tr>
              	<td class="col-md-10"><a href="/news_show/{{ n.id }}">{{ n.news_content_title }}</a></td>
                <td class="col-md-2">{{ n.news_content_date|date:'Y-m-d' }}</td>
              </tr>
            {% endfor %}
            </table>
            <ul class="pagination">
            {% for p in pg.page_range %}
      	      <li><a href="?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
<!--main end-->        
        <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}